<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <div class="row">
        <col-2></col-2>
        <col-8>
            <div class="card" style="width: 18rem;">
  <div class="card-header">
    EmployeeDetails
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">{{emp.name}}</li>
    <li class="list-group-item">{{emp.username}}</li>
    <li class="list-group-item">{{emp.email}}</li>
  </ul>
</div>
        </col-8>
        <col-2></col-2>
    </div>
</div>

</body>
</html>