<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <table class="table" class="table table-hover">
                <tr>
                    <th>name</th>
                    <th>username</th>
                    <th>email</th>
                    <th>password</th>
                    <th>desig</th>
                    <th>age</th>
                    <th>salary</th>
                    <th>action</th>
                </tr>
                {%for emp in employees%}
                <tr>
                    <td>{{emp.name}}</td>
                    <td>{{emp.username}}</td>
                    <td>{{emp.email}}</td>
                    <td>{{emp.password}}</td>
                    <td>{{emp.desig}}</td>
                    <td>{{emp.age}}</td>
                    <td>{{emp.salary}}</td>
                    <a href="">View</a>

                </tr>
            </table>
        </div>
        <div class="col-2"></div>
    </div>
</div>

</body>
</html>