<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
 <div class="container">
     <div class="row">
         <div class="col-4"></div>
         <div class="col-4">
             {%for book in Books%}
             <div>
                 <div class="mt-2 mb-2">
                     {{book.book_name}}
                     {{book.author}}
                     {{book.pages}}
                     {{book.price}}
                     <a href="{%url 'detail' book.id%}">detail</a>
                     <a href="{%url 'book-edit' book.id%}">Edit</a>
                     <a href="{%url 'delete' book.id%}">Delete</a>


                 </div>
             </div>
            {% endfor %}
         </div>
         <div class="col-4"></div>

     </div>
 </div>

</body>
</html>